chess/__pycache__/chessLogic.cpython-310.pyc
chess/__pycache__/classicalBitboard.cpython-310.pyc
chess/__pycache__/engine.cpython-310.pyc
chess/__pycache__/move.cpython-310.pyc
chess/__pycache__/moveGeneration.cpython-310.pyc
chess/__pycache__/piece.cpython-310.pyc
chess/__pycache__/render.cpython-310.pyc
./__pycache__
./.idea
./.vscode